<div class="container">

  <% if @post && @post.errors.any? %>
    <div class="errors">
      <% @post.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
  <% end %>

  <div class='form'>
    <form action='/edit/<%= @post.id %>' method='post'>
      <div class='form_title'>
        <label for='form[title]'>Post Title</label>
        <textarea name='form[title]' required=true><%= @post.title %></textarea>
      </div>
      <div class='form_author'>
        <label for='form[author]'>Post Author</label>
        <textarea name='form[author]' ><%= @post.author %></textarea>
      </div>
      <div class='form_body'>
        <label for='form[body]'>Post Body</label>
        <textarea name='form[body]' spellcheck=true required=true><%= @post.body %></textarea>
      </div>
      <div class='form_submit'>
        <input type='submit' value='Submit'>
      </div>
      <div class='tags'>
        <label for="tags">Post Tags</label>
        <input type='text' name="form[tags]" value='<%= @tags %>'>
      </div>
    </form>
    <form action='/destroy/<%= @post.id %>' method='post'>
      <div class='form_delete'>
        <input type='submit' value='Delete Post'>
      </div>
    </form>
  </div>

</div>
